body{
    background-color: lightpink;
}
header h3{
    display: flex;
    background-color: lightblue;
    padding: 15px;
   
    justify-content: center;
    border-radius: 9px;

}
.parent{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.parent div img{
    width: 120px;
    height: 150px;
    border-radius: 90px;
    padding: 8PX;
    overflow: hidden;
}
.parent div{
    display: flex;
    flex-direction: column;
     align-items: center;
    
    background-color: aqua;
    margin: 10px;
    padding: 10px;
    width: 270px;
    height: 400px;
    justify-content: center;
    border-radius: 9px;
    
    
    
}
.parent div:hover{
    box-shadow: 7px 7px rgb(198, 181, 181);
}
/* এটা একটা comment */


.parent div h4{
    width: 100%;
    text-align: center;
    margin-bottom: 0px;
}
.parent div p{
    width: 100%;
    margin-bottom: 0px;
    text-align: center;
}


     